#slideshow { 
    margin: 3em auto; 
    position: relative; 
    width: 62.5em; 
    height: 62.5em; 
    padding: 1em; 
}

#slideshow > div { 
    position: relative; 
    top: 1em; 
    left: 1em; 
    right: 1em; 
    bottom: 1em; 
}