@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
    
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
    background-color: #f7f7f8;
}

li, a, button{
    font-family: 'Montserrat' , sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #077499;
    text-decoration: none;

}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:1em 2%;
    position: sticky ;
    top: 0em ;
}

nav{
    order:1;   
}

.logo{
    width:5.35em;
    height:5em;
    order:2;
    padding: 0.2em; 
    cursor: pointer;
}


.nav_links{
    list-style-type: none;
   
}

.nav_links li{
    display: inline-block;
    padding-left: 1.5em; 
    background-color: #f1f5f8;   
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:#072d36;
}

@media only screen and (min-width:24.56em) and (max-width:60em)
{
    section.sec1
    {
        background-size: cover;
        overflow:hidden;
        background-repeat: no-repeat;
    }
    
    .logo
    {
        visibility: hidden;
    }

    .nav_links li{
        display: list-item;
      
    }
}

